@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-SlightlyDesaturatedCyan: #5FB4A2;
  --color-DarkBlue: #203A4C;
  --color-GrayishDarkBlue: #33323D;
  --color-VeryLightGray: #FAFAFA;
  --color-LightGray: #EAEAEB;
  --color-BrightRed: #F43030;

  --font-IbarraRealNova:"Ibarra Real Nova", serif;
  --font-PublicSans:"Public Sans" ,sans-serif;
}

